<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet"/>

    <title>Global Superstore</title>
</head>
<body> 
    <div class="topnav">
        <a class="active" th:href="@{/}">Form</a> 
        <a th:href="@{/inventory}">Inventory</a>
    </div>
    <div class="container">
        <br><br><br><br>
        <h2>Global Superstore</h2>
        
        <!--binding item object to form and the form input to object fields-->
        <!-- also setting th:action to make POST request on submission-->
        <form method="post" th:object="${item}" th:action="@{/submitItem}">
           
            <p th:errors="*{category}" style="color:red"></p>
            <select class="select" th:field="*{category}">
                <option style="color:blue" value="">Choose Category</option>
                <option style="color:blue" value="Furniture">Furniture</option>
                <option style="color:blue" value="Office Supplies">Office Supplies</option>
                <option style="color:blue" value="Technology">Technology</option>
            </select>
            
            <p th:errors="*{name}" style="color:red"></p>
            <input type="text" placeholder="Name" th:field="*{name}">
            
            <p th:errors="*{price}" style="color:red"></p>
            <input class="half" type="text" placeholder="Price" th:field="*{price}">
            
            <p th:errors="*{discount}" style="color:red"></p>
            <input class="half" type="text" placeholder="Discount" th:field="*{discount}">
            
            <h4>Order date</h4>
            <p th:errors="*{date}" style="color:red"></p>
            <input type="date" style="color:black" th:field="*{date}">
            <!--must add ID field, though hidden,so that it is included in POST req payload and appropriately updates an existing item, else a new item is created in datastore-->
            <input type="hidden" th:field="*{id}">
            <input type="submit" value="Submit Item">
            
        </form>
    
    </div>
</body>
</html>